<!DOCTYPE html>
<html>
<head>
    <title>UsTube - Analytics</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}">

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
</head>
<body>
    <nav class="navbar  navbar-dark navbar-expand-sm bg-primary">
        <a class="navbar-brand" href="#">UsTube</a>
        <div class="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="{{url_for('begin')}}">Home</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{{url_for('search')}}">Search </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{url_for('analytics')}}">Analytics <span class="sr-only">(current)</span> </a>
                </li>
            </ul>
        </div>
    </nav>
    

    
    <div class="form-group">
        <form method="post">
            <select name="select" class="form-control" id="graphs" onchange="this.form.submit()">
                <option value="Null" style="display:none;" selected>Select an Option</option>
                <option value="1">Days Trending vs. Title Length</option>
                <option value="2">Days Trending vs. Genre</option>
                <option value="3">Top 50 Most Trending tags</option>
                <option value="4">Days Trending vs. Video tags</option>
                <option value="5">Best Time of Day to Trend</option>
                <option value="6">Enabling vs. Disabling Comments</option>
                <option value="7">Description Length vs. Views</option>
                <option value="8">Top 50 Most Trending Channels</option>
                <option value="9">Ratings of Trending Videos</option>
                <option value="10">What Genres Trend Throughout the Year</option>
            </select>
        </form>
    </div>
    
    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                        <span>{{ message }}</span>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    
    <div class="chart" id="bargraph">
        <script>
            var graphs = {{ plot | safe}};
            var analytics = {{ analyticNum }};
            var layout = {};
            if (analytics == 1) {
                layout = {
                    title: 'Days Trending vs. Title Length',
                    xaxis: { title: "Length" },
                    yaxis: { title: "Days on Trending"}
                };
            }
            else if (analytics == 2) {
                layout = {
                title: 'Days Trending vs. Genre',
                xaxis: { title: "Genre" },
                yaxis: { title: "Days on Trending" }
                };
            }
            else if (analytics == 3) {
                layout = {
                    title: 'Top 50 Most Trending Tags',
                    xaxis: { title: "Genre" },
                    yaxis: { title: "Days on Trending" }
                };
            }
            else if (analytics == 4) {
                layout = {
                    title: 'Days Trending vs. Video tags',
                    xaxis: { title: "Number of Tags" },
                    yaxis: { title: "Days on Trending" }
                };
            }
            else if (analytics == 5) {
                layout = {
                    title: 'Best Time of Day to Trend',
                    xaxis: { title: "Hour" },
                    yaxis: { title: "Number of Videos Trending" }

                };
            }

            else if (analytics == 6) {
                layout = {
                    title: 'Comments Enabled/Disabled',
                    /*xaxis: { title: "Hour" },
                    yaxis: { title: "Number of Videos Trending" }*/

                };
            }
            else if (analytics == 7) {
                layout = {
                    title: 'Description Length vs Views',
                    xaxis: {
                        title: "Description Length (Words)",
                       
                    },
                    yaxis: {
                        title: "Views",
                       
                    }

                };
            }
            else if (analytics == 8) {
                layout = {
                    title: 'Top 50 Most Trending Channels',
                    xaxis: { title: "Channels" },
                    yaxis: { title: "Number of Trending Videos" }
                };
            }
            else if (analytics == 9) {
                layout = {
                    title: 'Ratings of Trending Videos',
                    xaxis: { title: "Rating" },
                    yaxis: { title: "Number of Trending Videos" }
                };
            }
            else if (analytics == 10) {
                layout = {
                    title: 'What Genres Trend Throughout the Year',
                    xaxis: { title: "Month" },
                    yaxis: { title: "Number of Videos Trending" }
                };
            }
            Plotly.newPlot('bargraph', graphs, layout);
        </script>
    </div>
</body>
</html>