<!DOCTYPE html>
<html>
<head>
    <title>UsTube - Analytics</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}">
</head>
<body>
    <nav class="navbar  navbar-dark navbar-expand-sm bg-primary">
        <a class="navbar-brand" href="#">UsTube</a>
        <div class="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="{{url_for('begin')}}">Home</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{{url_for('search')}}">Search </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{url_for("analytics")}}">Analytics <span class="sr-only">(current)</span> </a>
                </li>
            </ul>
        </div>
    </nav>
</body>
</html>