<!DOCTYPE html>
<html>
<head>
    <title>UsTube - Analytics</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}">

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
</head>
<body>
    <nav class="navbar  navbar-dark navbar-expand-sm bg-primary">
        <a class="navbar-brand" href="#">UsTube</a>
        <div class="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="{{url_for('begin')}}">Home</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{{url_for('search')}}">Search </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{url_for('analytics')}}">Analytics <span class="sr-only">(current)</span> </a>
                </li>
            </ul>
        </div>
    </nav>
    

    
    <div class="form-group">
        <form method="post">
            <select name="select" class="form-control" id="graphs" onchange="this.form.submit()">
                <option value="Null" style="display:none;" selected>Select an Option</option>
                <option value="1">Days Trending vs. Title Length</option>
                <option value="2">Days Trending vs. Genre</option>
            </select>
        </form>
    </div>

    <div class="chart" id="bargraph">
        <script>
            var graphs = {{ plot | safe}};
            var analytics = {{ analyticNum }};
            var layout = {};
            if (analytics == 1) {
                layout = { title : 'Days Trending vs. Title Length' };
            }
            else if (analytics == 2) {
                layout = { title: 'Days Trending vs. Genre' };
            }
            Plotly.newPlot('bargraph', graphs, layout);
        </script>
    </div>
</body>
</html>