<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>UsTube - Search Bar</Title>
</head>
<body>

    <h1>UsTube</h1>
<div class="wrapper">
    <p1>Title</p1> <input type="text" class="input" placeholder="Type here" style="margin-left:23px;"> <br />
    <p1>Genre</p1> <input type="text" class="input" placeholder="Type here" style="margin-left:14px;"> <br />
    <form>
        
        <select name="tags">
            <option value="title">Title</option>
            <option value="genre">Genre</option>
            <option value="tags">Tags</option>
            <option value="date published">Date Published</option>
            <option value="views">Views</option>
            <option value="rating">Rating</option>
        </select>
        <input type="text" class="input" placeholder="Type here"> <br />
    </form>
    
    <form method='post'>
            <!-- <button type="submit" onclick="">Search</button>-->
             <input type="submit" name="submit_button" value="Search">
             <input type="submit" name="submit_button" value="Return to Home">
     </form>
    
</div>



</body>
</html>